<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/my_activities.css">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="../static/select_btn.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    <title>Co-Find</title>
</head>
<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <label class="logo glow">CO-FIND</label>
        <ul>
            <li><a href="/home">HOME PAGE</a></li>
            <li><a href="/personal_info">PERSONAL INFO</a></li>
            <li><a href="/create_activity">CREATE ACTIVITY</a></li>
            <li><a class="glow" href="/my_activities">MY ACTIVITIES</a></li>
            <li><a href="/my_schedule">MY SCHEDULE</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
    <section></section>
    <div class="background"></div>
    <div class="container">
        <div class="fixed-text">MY CREATED ACTIVITIES</div>

        <div class="scrollcontainer">
            {% for act in my_act %}
            <div class="activity-in-progress" id="section1">
                <div class="test">
                    <div class="photo-my-act">
                        <img src="{{ act.image }}" alt="Activity Image" width="100%">
                    </div>
                    <div class="act-info">
                        <h1 class="activity-name">{{ act.name}}</h1>
                        <p class="data">{{ act.deadline }}</p>
                        <p class="description">{{ act.info }}</p>

                    </div>
                </div>
                <div class="requests">
                    <label for="members-section2">Запити на участь:</label>
                    <div class="requests-container">
                        <div class="members-requests">
                            <form action="" method="post">
                                {% for user, value in act.users.items() %}
                                <div class="member">
                                {% if value %}
                                <p style="color: chartreuse;">{{ user }}</p><button type="submit" name = "delete" class="add-btn" value = "{{ act.id }} {{ user }}">DEL</button>
                                {% else %}
                                <p style="color: red;">{{ user }}</p><button type="submit" name = "confirm" class="add-btn" value = "{{ act.id }} {{ user }}">ADD</button>
                                {% endif %}
                            </div>
                            {% endfor %}
                            </form>
                    </div>
                    <form method="post">
                    <button type = 'submit' value = '{{ act.id }}' name = 'end' class="end-activity-btn">End Activity</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
        <script src="https://kit.fontawersome.com/a076d05399.js"></script>
        <script src="../static/test.js"></script>
    </body>
</html>