<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/my_schedule.css">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    <title>Co-Find</title>
</head>
<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <label class="logo glow">CO-FIND</label>
        <ul>
            <li><a href="/home">HOME PAGE</a></li>
            <li><a href="/personal_info">PERSONAL INFO</a></li>
            <li><a href="/create_activity">CREATE ACTIVITY</a></li>
            <li><a href="/my_activities">MY ACTIVITIES</a></li>
            <li><a class="glow" href="/my_schedule">MY SCHEDULE</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
    <section></section>
    <div class="container">
        <div class="fixed-text">MY SCHEDULE</div>

        <div class="scrollcontainer">
            {% for act in result_activities%}
            <div class="activity-in-progress" id="section1">
                <div class="photo">
                    <img src="../static/images/performance.jpg" alt="Activity Image" width="100%">
                </div>
                <div class="act-info">
                    <h1 class="activity-name">{{ act.name }}</h1>
                    <p class="data">Deadline: {{ act.deadline }}</p>
                    <button class="more-info-btn" onclick="openMoreInfo()">More info</button>
                </div>
            </div>


            
            <div class="more-info-block" id="moreInfoPopup">
                <div class="info-block">
                    <div class="popupimage">
                        <img class="photo-block" src="../static/images/performance.jpg" alt="Activity Image" width="100%">
                    </div>
                    <div class="more-act-info">
                        <h1 class="activity-name-block">{{ act.name }}</h1>
                        <p class="data-block">Deadline: {{ act.deadline }}</p>
                        <p class="description-block">{{ act.info }}</p>
                        <p class="participation-block">0 / {{ act.capacity }}</p>
                        {% if act.users[current_user.username] %}
                        <p class="participation-block" style="color: green;">Affirmed</p>
                        {% else %}
                        <p class="participation-block" style="color: red;">Not Affirmed</p>
                        {% endif %}
                    </div>
                </div>
                <!-- {% with messages = get_flashed_messages(with_categories=false) %}
                    {% for message in messages %}
                    {% if category == 'schedule-error' %}
                    <div class="alert-login alert alert-danger alter-dismissable fade show" role = "alert">
                      {{ message }}
                    </div>
                    {% endif %}
                    {% endfor %}
                {% endwith %} -->
                <div class="buttons-block">
                    <form method="post">
                        <button class="leave-activity-btn" name = 'leave' value = '{{ act.id }}'>leave</button>
                    </form>
                    <button class="close-activity-btn" onclick="closeMoreInfo()">close</button>
                </div>
            </div>
            {% endfor %}
            <!-- <div class="activity-in-progress" id="section1">
                <div class="photo">
                    <img src="../static/images/performance.jpg" alt="Activity Image" width="100%">
                </div>
                <div class="act-info">
                    <h1 class="activity-name">activity name</h1>
                    <p class="data">реченець</p>
                    <button class="more-info-btn" onclick="openMoreInfo()">More info</button>
                </div>
            </div>

            <div class="activity-in-progress" id="section1">
                <div class="photo">
                    <img src="../static/images/performance.jpg" alt="Activity Image" width="100%">
                </div>
                <div class="act-info">
                    <h1 class="activity-name">activity name</h1>
                    <p class="data">реченець</p>
                    <button class="more-info-btn" onclick="openMoreInfo()">More info</button>
                </div>
            </div>


            <div class="activity-in-progress" id="section1">
                <div class="photo">
                    <img src="../static/images/performance.jpg" alt="Activity Image" width="100%">
                </div>
                <div class="act-info">
                    <h1 class="activity-name">activity name</h1>
                    <p class="data">реченець</p>
                    <button class="more-info-btn" onclick="openMoreInfo()">More info</button>
                </div>
            </div>
            <div class="activity-in-progress" id="section1">
                <div class="photo">
                    <img src="../static/images/performance.jpg" alt="Activity Image" width="100%">
                </div>
                <div class="act-info">
                    <h1 class="activity-name">activity name</h1>
                    <p class="data">реченець</p>
                    <button class="more-info-btn" onclick="openMoreInfo()">More info</button>
                </div>
            </div>
            <div class="activity-in-progress" id="section1">
                <div class="photo">
                    <img src="../static/images/performance.jpg" alt="Activity Image" width="100%">
                </div>
                <div class="act-info">
                    <h1 class="activity-name">activity name</h1>
                    <p class="data">реченець</p>
                    <button class="more-info-btn" onclick="openMoreInfo()">More info</button>
                </div>
            </div> -->

        </div>
    </div>

        <script src="https://kit.fontawersome.com/a076d05399.js"></script>
        <script>
            function closeMoreInfo() {
                document.getElementById('moreInfoPopup').style.display = 'none';
            }
            function openMoreInfo() {
                document.getElementById('moreInfoPopup').style.display = 'block';
            }
            function leaveActivity() {
            var activityId = "123"; 
            alert("You have left the activity with ID: " + activityId);
            }
        </script>

    </body>
</html>