<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    <title>Co-Find</title>
</head>
<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <label class="logo glow">CO-FIND</label>
        <ul>
            <li><a href="/home">HOME PAGE</a></li>
            <li><a class="glow" href="/personal_info">PERSONAL INFO</a></li>
            <li><a href="/create_activity">CREATE ACTIVITY</a></li>
            <li><a href="/my_activities">MY ACTIVITIES</a></li>
            <li><a href="/my_schedule">MY SCHEDULE</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
    <section></section>

    <div class="grid-container">
        <div class="index_div">
            <p>MY INFO</p>
            <form class="login-form-main">
                <input type="text" placeholder="NAME" class="login-form-main-input">
                <input type="password" placeholder="OLD PASSWORD" class="login-form-main-input">
                <input type="password" placeholder="NEW PASSWORD" class="login-form-main-input">
                <button type="submit" class="setup-btn">SET UP</button>
            </form>
        </div>
        <div class ="activity_div">
            <div class="activities-h">Select or change an activity</div>
            <div class="activities-pos">
                <div class="act-div1">
                    <label class ='check_box'>
                        <input type="checkbox" class="check_box">
                        <span class="glow-text">проєкт для фпн</span>
                    </label>
                    <label class ='check_box'>
                        <input type="checkbox" class="check_box">
                        <span class="glow-text">турніри з спорту</span>
                    </label>
                    <label class ='check_box'>
                        <input type="checkbox" class="check_box">
                        <span class="glow-text">додаткові заняття</span>
                    </label>
                    <label class ='check_box'>
                        <input type="checkbox" class="check_box">
                        <span class="glow-text">компанія на вечір</span>
                    </label>
                    <label class ='check_box'>
                        <input type="checkbox" class="check_box">
                        <span class="glow-text">творчий проєкт</span>
                    </label>
                </div>
                <div class="act-div2">
                    <label class ='check_box'>
                        <input type="checkbox" class="check_box">
                        <span class="glow-text">турніри з навчання</span>
                    </label>
                    <label class ='check_box'>
                        <input type="checkbox" class="check_box">
                        <span class="glow-text">прогулянка</span>
                    </label>
                    <label class ='check_box'>
                        <input type="checkbox" class="check_box">
                        <span class="glow-text">волейбол</span>
                    </label>
                    <label class ='check_box'>
                        <input type="checkbox" class="check_box">
                        <span class="glow-text">it-зустріч</span>
                    </label>
                    <label class ='check_box'>
                        <input type="checkbox" class="check_box">
                        <span class="glow-text">it-клуби</span>
                    </label>
                </div>
                <div class="act-div3">
                    <label class ='check_box'>
                        <input type="checkbox" class="check_box">
                        <span class="glow-text">клуби</span>
                    </label>
                    <label class ='check_box'>
                        <input type="checkbox" class="check_box">
                        <span class="glow-text">проєкт</span>
                    </label>
                    <label class ='check_box'>
                        <input type="checkbox" class="check_box">
                        <span class="glow-text">футбол</span>
                    </label>
                    <label class ='check_box'>
                        <input type="checkbox" class="check_box">
                        <span class="glow-text">мафія</span>
                    </label>
                    <label class ='check_box'>
                        <input type="checkbox" class="check_box">
                        <span class="glow-text">спорт</span>
                    </label>
                </div>
            </div>
        </div>
        <script src="https://kit.fontawersome.com/a076d05399.js"></script>
    </body>
</html> 